#post-job{
    position: absolute;
    top: 75px;
    right: 30px;
    background-color: #0a66c2;
    border-radius: 5px;
    color: white;
    height: 35px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#post-job:hover{
    border: none;
}

.body-main{
    width: 70%;
    margin-top: 70px;
}

.table{
    overflow-y: scroll;
    overflow-x: scroll;
    border: 0.5px solid #636161;
    height: auto;
    max-height:500px;
}
.table::-webkit-scrollbar{
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}
  
thead {
    background-color: #f3f2f0;
}
  
thead th {
    padding: 10px;
    text-align: left;
    font-size: 16px;
    color: #333;
    border-bottom: 2px solid #ddd;
}
  
tbody tr {
    border-bottom: 1px solid #ddd;
}
  
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
  
tbody td {
    padding: 10px;
    font-size: 14px;
}
  
tbody tr:hover {
    background-color: #f1f1f1;
}
  
td, th {
    padding: 12px;
}

.search-icon{
    position: absolute;
    right: 120px;
    top: 75px;
    width: 40px;
    height: 35px;
    background-color: #7c7878;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.search-icon:hover{
    transform: scale(1.05); 
    transition: transform 0.3s ease;
}

.search-bar-container {
    position: absolute;
    top: 75px;
    right: 120px;
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f3f2f0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-bar input {
    flex: 1;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;
    color: #333;
}

 .srchbtn {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #0a66c2;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

 .srchbtn:hover {
    background-color: #1e7fe0;
}

.close-btn {
  margin-left: 10px;
  color: rgb(44, 43, 43);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
}

@media only screen and (max-width: 450px){
   
  .table{
    margin-top: 50px;
  }
   .search-bar-container {
    top: 120px;
    left: 65px;
    /* width: 300px; */
    
  }
  .search-bar{
    width: 280px;
  }
  .search-bar input {
    width: 100px;
  }
  .srchbtn{
    width: 60px;
    margin-left: 5px;

  }
  
.close-btn{
  margin-left: 5px;
}
  
}
@media only screen and (max-width: 420px){
  .search-bar-container {
    top: 120px;
    left: 60px;
    
  }
 

}
@media only screen and (max-width: 380px){
  .search-bar-container {
    top: 120px;
    left: 50px;
    
  }
 

}