.job-maindiv{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    padding: 3rem;
    padding-left: 0;
    padding-right: 0;
    font-family: "Indeed Sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", Roboto, Noto, sans-serif;

}
.job-subdiv{
    width: 60%;
    height: auto;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    /* margin-top: 180px; */
    align-items: center;
    padding-bottom: 30px;
    /* background-color: white; */
}
.job-head{
    width: 90%;
    height: 180px;
    background-color: #f3f2f0;
    border-radius: 10px;
    display: flex;
}
.job-head-left{
    width: 50%;
    /* background-color: aqua; */
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;
    /* letter-spacing: 1; */
}
.job-left{
    margin: 30px;
}
.job-head-right{
    width: 50%;
    /* background-color: aquamarine; */
    height: 100%;

}

.job-form{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
   padding-top: 32px;
   gap: 2em;
   justify-content: center;
   align-items: center;

}
.job-form h1{
    font-size: 24px;
}
.job-content{
    width: 100%;
    flex-direction: column;
    display: flex;
    font-size: 16px;
    font-weight: 600;
}
.job-content label{
    margin-bottom: 5px;
}
.job-content input,select{
    /* padding: 9px 12px; */
    border-radius: 3px;
    border: 0.1px solid ;
    height: 44px;
    font-size: 16px;
    padding-left: 5px;
    /* border: none; */
}
.job-area{
    /* flex-direction: column; */
    width: 100%;
    /* height: 50px; */
    display: flex;
    justify-content: space-between;
}
.sub{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.sub input{
    border-radius: 3px;
    border: 0.1px solid ;
    height: 44px;
    font-size: 16px;
    padding-left: 5px;
}
.sub label{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}
.job-continue{
    height: 45px;
    width: 134px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    color: white;
    background-color: rgb(37, 87, 167);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.job-button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 750px){
    .job-subdiv{
        width: 100%;
        margin-top: 80px;
    }
    .job-form{
        padding: 20px;
    }
}
@media only screen and (max-width: 450px){
    .job-continue{
        width: 100%;
        justify-content: center;
    }
    .job-subdiv{
        margin-top: 0;
    }
}